<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="static/game.css" />


    <title>Pokemon Game</title>
  </head>
  <body>

<div class="container">
  <h1> SETUP YOUR OWN JOURNEY </h1>

<div class="form__group">
  <form autocomplete="off">
  <input type="text" class="form__input" id="name" placeholder="Name Your Trainer" required="" />
  <label for="name" class="form__label">Name Your Trainer</label>

   <h2> CHOOSE YOUR SIDE </h2>
  </div>



 <div class="radio-group">
<input type="radio" id="option-one" name="selector" value="True">

   <label style="color: rgba(0,255,0,.5)" for="option-one">I want them all live</label>
   <input type="radio" id="option-two" name="selector" value="False">
   <label style="color:rgba(255,0,0,.5)"for="option-two">I want them all dead</label>

 </div>
<br>
<br>
<br>
<br>
     <input  class='btn' type="submit" name='dsafds' value="Let's Begin">



  </form>

    <button  class="btn"><a href="/logout">Logout</button> </a>
</div>


  <script src="static/script.js"></script>
  </body>
</html>

