<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="static/game.css" />


    <title>Pokemon Game</title>
  </head>
  <body>

<div class="container">
  <h1> No siem zaczynamy gre</h1>
{% if current_user.is_authenticated %}
  Hi {{ current_user.trainer_name }}!
{% endif %}
</div>

  <script src="static/script.js"></script>
  </body>
</html>

