<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="static/styles.css" />
    <title>Pokemon Game</title>
  </head>
  <body>

<div class="login-box">
  <h2>Register</h2>
  <form autocomplete="off" action="{{url_for('register_add')}}" method="POST">
    <div class="user-box">
      <input autocomplete="off" type="text" name="username" id='username' required="">
      <label>Username </label>
    </div>

      <div class="user-box">
      <input autocomplete="off" type="email"  name="email" id ='email' required="">
      <label>Email</label>
    </div>
      <div class="user-box">
      <input autocomplete="off" type="password" name="password" id='password' required="True">
      <label>Password</label>
    </div>
    <a class='hejka' href="/login" id="login_link"> I already have an account </a>
    <a>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
   <input style="margin: 0;
  padding: 25px;
  border: none;
  color: #03e9f4;
  font-family: sans-serif;
  background-color: transparent;
  text-decoration: none;
letter-spacing: 4px;"type="submit" name='submit' id="submit" value="SUBMIT">
    </a>
  </form>
</div>

 <script src="static/script.js"></script>
  </body>
</html>