<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="static/index.css" />
    <title>Pokemon Game</title>
  </head>
  <body>


    <div class="container">

        <a href="/register" class="btn" onmouseover="OnOver()" onmouseout="OnOut()"> Let The Journey Begin </a>

    </div>

  <script src="static/script.js"></script>
  </body>
</html>