<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="static/test.css" />
    <title>Pokemon Game</title>
  </head>
  <body>

<fieldset>
	<legend>Is this toggle switch awesome?</legend>
	<div class="toggle">
		<input type="radio" name="sizeBy" value="weight" id="sizeWeight" checked="checked" />
		<label for="sizeWeight">It's pretty, pretty, pretty, pretty good</label>
		<input type="radio" name="sizeBy" value="dimensions" id="sizeDimensions" />
		<label for="sizeDimensions">100% yes</label>
	</div>
	<p class="status">Toggle is <span>auto width</span><span>full width</span>.</p>
</fieldset>


 <script src="static/script.js"></script>
  </body>
</html>